nav {
    color: rgb(255, 255, 255);
}



.picture-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile-pic {
    float: left;
    margin: 10px;
}

#about-me {
    border: 1px solid black
}
.row {
    margin-top: 5px;
}

.page-header {
    text-align: center;
}
#link-row {
    margin-right: 10px;
}
body {
    background-color: rgb(48, 181, 199);
  }
  
  footer {
Width: 100%;
background-color: #222;
padding: 60px 0px;
  }
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

 